bin/
obj/
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
*.pfx
*.apk
*.aab
AppPackages/
BundleArtifacts/
PackageStoreAssociation.xml
_pkginfo.txt
*.appx
*.appxbundle
*.appxupload
*.msix
*.msixbundle
*.msixupload
project.lock.json
project.fragment.lock.json
artifacts/
.idea/
*.DotSettings

# Large files - publish folder and FFmpeg binaries
publish/
FFmpeg/**/*.exe
*.zip